.aside-content{ width: 50px; background: #313131; border-top: 1px solid #b4b4b4; }

.nav-list{ padding: 12px; }
.sub-list{ padding-left: 20px; }

.nav-item{ margin-top: 11px; padding: 11px 12px; background: #f0f3fa; border-radius: 50px; color: #333; font-size: 12px; cursor: pointer; }
.nav-item:first-child{ margin-top: 0; }
.nav-active{ background: #5b8dff; color: #fff; border-radius: 50px; }
.index-icon{ display: inline-block; vertical-align: middle; margin-right: 6px; width: 16px; height: 15px; background: url('/src/assets/icon/manage_2.png'); background-size: 100% auto; }
.nav-active .index-icon{ background: url('/src/assets/icon/manage_3.png'); background-size: 100% auto; }