/server/node_modules/
/server/db/
/server/log/
/server/config/
/server2/
/server3/
/ReriServer/
/static-file-server/node_modules
/static-file-server/log
/cnode-api/
/config/
/egg-server/
# /client/
/managementSystem/node_modules
# /server/public/audio/
/Slider/
/Node/
/welfare
