/server/node_modules/
/server
/server
/server
/server2/
/ReriServer/node_modules/
/ReriServer/log/
/ReriServer/config/
/ReriServer/db/
/cnode-api/
/egg-server/
# /client/
/managementSystem/node_modules
# /server/public/audio/
/Slider/
/Node/
/welfare
