
.normal {
  background: #D679F2;
}

.header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; }
.title { margin: 0; margin-right: 15px; }
.actions-bar { display: flex; justify-content: space-between; align-items: center; width: 220px; }
