<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>测试</title>
</head>
<body>
  <div>标题</div>
  <input type="button" value="获取数据" id='getBtn' />
  <input type="button" value="发送数据" id="postBtn" />
  <input type="button" value="更新数据" id='putBtn' />
  <input type="button" value="删除数据" id="deleteBtn" />
  <input type="button" value="获取音频" id="getAudioBtn" />
  <input type="button" value="获取记录" id="getLogBtn" />
  <input type="button" value="获取打卡信息" id='getSignInfo'/>
  <!-- <form action="http://192.168.1.104:3000/api/user/setUserInfo" method="POST">
    <input type="text" name="avatar" placeholder="avatar" />
    <input type="text" name="nickname" placeholder="nickname"/>
    <input type="text" name="sex" placeholder="sex"/>
    <input type="text" name="birthday" placeholder="birthday"/>
    <input type="text" name="name" placeholder="name"/>
    <input type="text" name="phone" placeholder="phone"/>
    <input type="text" name="address" placeholder="address"/>
    <input type="text" name="unionid" placeholder="unionid"/>
    <input type="submit" name="submit" value="Submit" />
  </form> -->
  <!-- <input type="button" value="Submit"  /> -->
  <div>
    <p>新建地址</p>
    <input type="text" name="name" placeholder="收货人" value="Reri" />
    <br/>
    <input type="tel" name="phone" placeholder="手机" value="15920936308" />
    <br/>
    <input type="text" name="area" value="广东省 广州市 荔湾区" />
    <br/>
    <input type="text" name="detail" placeholder="详细地址" value="123" />
    <br/>
    <label for="default">
      <input type="checkbox" name="default" id='default' />
      设为默认地址
    </label>
    <br/>
    <input type="button" name="save" value="保存" />
    <input type="button" name="get" value="获取地址" />
    <input type="button" name='login' value="登录后台"/>
  </div>
  <script>

    document.querySelector('input[name=login]').onclick = () => {
      console.log('登录后台');
      fetch(
        'http://localhost:9000/manage/login',
        {
          method: 'POST',
          body: JSON.stringify({username: "f81ea43e20e1d6a0ee0385e3c5f6c8c0", password: "cb5dab341f8202d2e310ec07a9dd542b"}),
        }
      )
      .then((res) => {
        console.log(res);
      })
      .catch((err) => {
        console.error(err);
      });
    };

    document.querySelector('input[name=save]').onclick = () => {
      console.log('新增地址');
      let [
        name,
        phone,
        area,
        detail,
        isDefault
      ] = [
        document.querySelector('input[name=name]').value,
        document.querySelector('input[name=phone]').value,
        document.querySelector('input[name=area]').value,
        document.querySelector('input[name=detail]').value,
        document.querySelector('#default').checked
      ];
      console.log(name);
      console.log(phone);
      console.log(area);
      console.log(detail);
      console.log(isDefault);
      fetch(
        'http://localhost:9000/api/address/setAddress',
        {
          method: 'POST',
          body: JSON.stringify({name: name, phone: phone, area: area, detail: detail, isDefault: isDefault}),
          headers: {
            'Authorization': 'owLC84lbLCkG0nhZNu6pq7ZYakws'
          }
        }
      )
      .then((res) => {
        console.log(res);
      })
      .catch((err) => {
        console.error(err);
      });
    };

    document.querySelector('input[name=get]').onclick = () => {
      console.log('获取地址');
      fetch(
        'http://localhost:9000/api/address/getAddressList',
        {
          method: 'GET',
          headers: {
            'Authorization': 'owLC84lbLCkG0nhZNu6pq7ZYakws'
          }
        }
      )
      .then((res) => {
        console.log(res);
      })
      .catch((err) => {
        console.error(err);
      });
    };

    const setHeader = (data) => {
      console.log(data);
      document.querySelector('div').textContent = data.status;
    };

    const setAudioSrc = (data) => {
      console.log(data.requestData[0]);
      const audio = document.createElement('audio');
      audio.src = data.requestData[0].audioUrl;
      audio.autoplay = true;
      // audio.controls = true;
      document.body.appendChild(audio);
    };

    document.querySelector('#getBtn').onclick = () => {
      console.log('请求接口');
      fetch(
        'https://www.changdaolife.cn/api/user/getUserInfo',
        {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'Authorization': '123'
          }
        }
      )
        .then((res) => {
          console.log(res);
          res.json().then((data) => {
                                      // console.log(data);
                                      setHeader(data);
                                    });
        });
    };

    document.querySelector('#postBtn').onclick = () => {
      console.log('请求接口');
      fetch(
        'https://www.changdaolife.cn/api/user/setUserInfo',
        {method: 'POST', body: JSON.stringify({nickname: 'Jerry', sex: 0})}
      ).then((res) => {
        console.log(res, new Date().getTime());
        if (res.ok) {
          res.json().then((data) => {
             console.log(data);
            // setHeader(data);
          });
        }
      });
    };

    document.querySelector('#putBtn').onclick = () => {
      console.log('请求接口', '更新');
      fetch(
        'https://www.changdaolife.cn/api/user/setUserInfo',
        {method: 'PUT', body: JSON.stringify({nickname: 'Reri', sex: 0})}
      ).then((res) => {
        console.log(res, new Date().getTime());
        if (res.ok) {
          res.json().then((data) => {
             console.log(data);
            // setHeader(data);
          });
        }
      });
    };

    document.querySelector('#deleteBtn').onclick = () => {
      console.log('请求接口', '删除');
      fetch(
        'https://www.changdaolife.cn/api/user/setUserInfo',
        {method: 'DELETE', body: JSON.stringify({nickname: 'Jerry', sex: 0})}
      ).then((res) => {
        console.log(res, new Date().getTime());
        if (res.ok) {
          res.json().then((data) => {
             console.log(data);
            // setHeader(data);
          });
        }
      });
    };

    document.querySelector('#getAudioBtn').onclick = () => {
      console.log('请求接口');
      fetch(
        'https://www.changdaolife.cn/api/audio/getAudio',
        {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'Authorization': '123'
          }
        }
      )
        .then((res) => {
          console.log(res);
          res.json().then((data) => {
                                      // console.log(data);
                                      // setHeader(data);
                                      setAudioSrc(data);
                                    });
        });
    };

    document.querySelector('#getLogBtn').onclick = () => {
      console.log('请求接口');
      fetch(
        'https://www.changdaolife.cn/api/log/getLogs',
        {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'Authorization': '123'
          }
        }
      )
        .then((res) => {
          console.log(res);
          res.json().then((data) => {
                                      console.log(data);
                                      // setHeader(data);
                                      // setAudioSrc(data);
                                    });
        });
    };

    document.querySelector('#getSignInfo').onclick = () => {
      console.log('请求接口');
      fetch(
        'http://localhost:9000/api/sign/getSignInfo',
        {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'Authorization': '123'
          }
        }
      )
        .then((res) => {
          console.log(res);
          res.json().then((data) => {
                                      console.log(data);
                                      // setHeader(data);
                                      // setAudioSrc(data);
                                    });
        });
    };

  </script>
</body>
</html>