<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>测试</title>
</head>
<body>
  <div>标题</div>
  <input type="button" value="获取数据" id='getBtn' />
  <input type="button" value="发送数据" id="postBtn" />
  <input type="button" value="更新数据" id='putBtn' />
  <input type="button" value="删除数据" id="deleteBtn" />
  <input type="button" value="获取音频" id="getAudioBtn" />
  <input type="button" value="获取记录" id="getLogBtn" />
  <!-- <form action="http://192.168.1.104:3000/api/user/setUserInfo" method="POST">
    <input type="text" name="avatar" placeholder="avatar" />
    <input type="text" name="nickname" placeholder="nickname"/>
    <input type="text" name="sex" placeholder="sex"/>
    <input type="text" name="birthday" placeholder="birthday"/>
    <input type="text" name="name" placeholder="name"/>
    <input type="text" name="phonenumber" placeholder="phonenumber"/>
    <input type="text" name="address" placeholder="address"/>
    <input type="text" name="unionid" placeholder="unionid"/>
    <input type="submit" name="submit" value="Submit" />
  </form> -->
  <!-- <input type="button" value="Submit"  /> -->
  <script>

    const setHeader = (data) => {
      console.log(data);
      document.querySelector('div').textContent = data.status;
    };

    const setAudioSrc = (data) => {
      console.log(data.requestData[0]);
      const audio = document.createElement('audio');
      audio.src = data.requestData[0].audioUrl;
      audio.autoplay = true;
      // audio.controls = true;
      document.body.appendChild(audio);
    };

    document.querySelector('#getBtn').onclick = () => {
      console.log('请求接口');
      fetch(
        'https://www.changdaolife.cn/api/user/getUserInfo',
        {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'Authorization': '123'
          }
        }
      )
        .then((res) => {
          console.log(res);
          res.json().then((data) => {
                                      // console.log(data);
                                      setHeader(data);
                                    });
        });
    };

    document.querySelector('#postBtn').onclick = () => {
      console.log('请求接口');
      fetch(
        'https://www.changdaolife.cn/api/user/setUserInfo',
        {method: 'POST', body: JSON.stringify({nickname: 'Jerry', sex: 0})}
      ).then((res) => {
        console.log(res, new Date().getTime());
        if (res.ok) {
          res.json().then((data) => {
             console.log(data);
            // setHeader(data);
          });
        }
      });
    };

    document.querySelector('#putBtn').onclick = () => {
      console.log('请求接口', '更新');
      fetch(
        'https://www.changdaolife.cn/api/user/setUserInfo',
        {method: 'PUT', body: JSON.stringify({nickname: 'Reri', sex: 0})}
      ).then((res) => {
        console.log(res, new Date().getTime());
        if (res.ok) {
          res.json().then((data) => {
             console.log(data);
            // setHeader(data);
          });
        }
      });
    };

    document.querySelector('#deleteBtn').onclick = () => {
      console.log('请求接口', '删除');
      fetch(
        'https://www.changdaolife.cn/api/user/setUserInfo',
        {method: 'DELETE', body: JSON.stringify({nickname: 'Jerry', sex: 0})}
      ).then((res) => {
        console.log(res, new Date().getTime());
        if (res.ok) {
          res.json().then((data) => {
             console.log(data);
            // setHeader(data);
          });
        }
      });
    };

    document.querySelector('#getAudioBtn').onclick = () => {
      console.log('请求接口');
      fetch(
        'https://www.changdaolife.cn/api/audio/getAudio',
        {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'Authorization': '123'
          }
        }
      )
        .then((res) => {
          console.log(res);
          res.json().then((data) => {
                                      // console.log(data);
                                      // setHeader(data);
                                      setAudioSrc(data);
                                    });
        });
    };

    document.querySelector('#getLogBtn').onclick = () => {
      console.log('请求接口');
      fetch(
        'https://www.changdaolife.cn/api/log/getLogs',
        {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'Authorization': '123'
          }
        }
      )
        .then((res) => {
          console.log(res);
          res.json().then((data) => {
                                      console.log(data);
                                      // setHeader(data);
                                      // setAudioSrc(data);
                                    });
        });
    };

  </script>
</body>
</html>