.element-content{ width: 100%; }

.choose-element-content{ display: flex; justify-content: flex-start; align-items: center; margin: 10px 15px; width: 100%; }

.banner-content,
.detail-content,
.festival-content{ margin: 10px 15px 20px; padding: 10px 20px; width: 80%; box-shadow: 0 0 10px #ccc; }

textarea{ resize: none; }

.detail-button-content{ display: flex; justify-content: flex-start; align-items: center; margin-top: 20px; }