<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Hello World!</title>
</head>
<body>
  <input type="file" multiple />
  <button>上传文件</button>
  <script>
    (function(){

      document.querySelector('button').onclick = () => {
        let files = document.querySelector('input').files;
        console.log(files);
        let form = new FormData();
        // form.append('files', [...files]);
        for(var index = 0; index < files.length; index++){
          form.append('image', files[index]);
        }
        /*files.map((file, index) => {
        });*/
        fetch('/api/v0/upload/image', {
          method: 'POST',
          body: form,
        })
        .then(res => {
          console.log(res);
        })
        .catch(err => {
          console.error(err);
        });
      };

      /*document.querySelector('input[name=uploadBanner]').onclick = () => {
        console.log('点击提交');
        // let reader = new FileReader();
        let file = document.querySelector('input[name=banner]').files[0];
        console.log(file);
        let formData = new FormData();
        // console.log(formData.get('file'));
        formData.append('file', file);
        // console.log(formData.get('file'));
        // reader.readAsDataURL(file);
        if (file) {
          // 请求接口
          fetch(
            'https://www.changdaolife.cn/api/banner/setBanner?page=index',
            {
              method: 'POST',
              body: formData,
              header: {
                authorization: ''
              }
            }
          ).then((res) => {
            if (res.ok) {
              res.json().then((data) => {
                console.log(data);
              });
            }
          }).catch((err) => {
            console.error(err);
          });
        } else {
          console.log('没有选择文件');
        }
      };*/

    })()
  </script>
</body>
</html>