.login-content{
  display: block;
  position: absolute;
  top: 120px;
  left: 50%;
  z-index: 999999;
  padding: 50px;
  /*margin-top: -300px;*/
  margin-left: -175px;
  width: 350px;
  height: 600px;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
}

.login-title{ display: block; }