.page-header{ display: block; height: 50px; }

.page-section{ display: flex; justify-content: flex-start; align-items: flex-start; padding: 20px; background: #fff; overflow: auto; }

img{ display: block; width: 100%; }

.header-left{ margin-left: 20px; line-height: 50px; color: #fff; font-size: 22px; }
.header-right{ display: flex; justify-content: space-between; align-items: center; margin-right: 20px; height: 100%; }
.user-info, .log-out{ display: flex; justify-content: space-between; align-items: center; height: 100%; }
.user-info{ margin-right: 27px; }
.user-info-name, .log-out span{ display: inline-block; vertical-align: middle; margin-right: 4px; font-size: 7px; color: #f0f3fa; }
.log-out:hover{ cursor: pointer; }
.log-out span:first-child{ width: 15px; height: 20px; }