
html, body, :global(#root) {
  width: 100%;
  height: 100%;
  background: #ddd;
}

body{ margin: 0; padding: 0; min-width: 800px; font-family: "Microsoft YaHei" !important; background: #eee; }

header{ display: flex !important; justify-content: space-between; align-items: center; width: 100%; height: 50px; background: #001529; font-family: "Microsoft YaHei" !important; }
content{ display: flex; justify-content: space-between; align-items: center; width: 100%; }

ul{ margin: 0; padding: 0; }
li{ list-style: none; }

::-webkit-scrollbar{ width: 0; height: 0; }

.page{ display: block; position: relative; margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; }